body{
    /*background-color: #e3e3e3;*/
    font-family: helvetica;
}


.logo img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}
.form{
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    opacity: 99%;
    max-width: 260px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

    border-radius: 10px;
    padding: 10px 45px 20px 45px;
    margin:auto;
    margin-top: 2%;

}
h2{
    color:#233142;
    font-weight: bold;
}
.form p{
    font-size: 15px;
    padding: 1px;
    text-align: center;
    color: #455d7a;
    font-weight: bold;
}
#login-title{
    font-weight: bold;
    font-size: 1.1em;
    color:#233142;
}
.form input{
    outline: 0;
    border-radius: 10px;
    background: #F2F2F2;
    width: 100%;
    border: 0;
    margin: 0 0 10px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form input:hover{
    background-color: #D3F8F9;
    transition: all 1s ease 0s;
}
.form input:focus{
    background-color: #D3F8F9;
    transition: all 1s ease 0s;
}

.form .button{
    text-transform: uppercase;
    outline: 0;
    border-radius: 10px;
    background: #f95959;/*#1ADBE5;*/
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
}
.form .button:hover, .form .button:active, .form .button:focus{
    background-color: #455d7a;
    transition: all 1s ease 0s;
}

.form .message{
    margin: 15px 0 0;
    color: #B3B3B3;
    font-size: 12px;
}
.form .message a{
    color: #455d7a;
    text-decoration: none;
}                                                          
/*           
a.button {
        -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    background-color: teal;
    text-decoration: none;
    color: white;
    width: 100px;
    font-size: 1.1em;
    border-radius: 10px;
}
*/