*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0;
	font-family: helvetica;
}
a{
	text-decoration: none;
}
body{
	background-color: white;/*#e3e3e3;*/
}
/****START OF NAVBAR****/
.navbar{
	
	height: 80px;/*90*/
	background-color: #233142;
	position: fixed;
	width: 100%;
	top:0;
	z-index:1;
	box-shadow:0 0 10px 5px #888888;


}
#logo{
	height: 70px;/*80*/
	position: relative;
	top: 5px;
	left: 25px;
}
#site_name{
	
	position: absolute;
	left: 115px;
	font-size: 2.5em;
	color: white;
	padding: 0;
	margin: 0;
	top:10px;
	
}
#subs{
	font-size: 1em;
	color: white;
	position: absolute;
	left: 115px;
	top:55px;
}
.btn{
	position: absolute;
	background-color:rgb(250,250,250,0.02);
	color: white;
	padding: 5px;
	top:15px;
	font-size: 1.3rem;
	border-radius: 10px;
	box-shadow: 0;
	height: 50px;
	width: 90px;
	border-width: 0 0 3px 0;
	outline-style: none;
}
.btn:hover{
	background-color: #8d93ab;
}
#home
{
	/*left: 825px;*/
	right: 400px;
}
#aboutus
{
	/*left: 925px;*/
	right: 280px;
}
#user
{
	/*left: 1025px;*/
	right: 160px;
}
#logout
{
	/*left: 1125px;*/
	right: 40px;
}

/*****END OF NAVBAR******/




/*****START OF SIDE NAVBAR****/

.sidenav
{
	position: absolute;
	width: 250px;
	height: 450px;
	top:110px;
	right: 0px;/*left:1100*/ 
	background-color:#233142;
	border-radius: 10px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	box-shadow:0 0 15px 3px #888888;
    /*box-shadow:0 0 2px 2px #888888;*/
}

.sidebutton
{
	position: relative;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	height: 50px;
	background-color:#f95959;
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius: 10px;
/*	box-shadow:0 0 2px 2px #888888;*/
}
.sidebutton:hover
{
	background-color:rgb(0,0,0,0.4);/*#8d93ab;*/
	width: 210px;

}
.nav-name
{
	padding-top:7px;
	color: white;
	text-align: center;
	font-size: 1.5rem;
}

.LeftBox{
	margin-top: 80px;/*90px;*/
	margin-left: 150px;/*50px;*/
	float:left;
	width:60%;

}

.RightBox{
	float: right;
	width: 40%;
}
/****END OF SIDE NAV******/



/******BROWSE-STARTS**********/
.browse-container{
	width: 900px;
	position: absolute;
	top:95px;
	left:60px;
}
.row1{
    border : 1px solid #ddd;
    display: flex;
    overflow-x: auto;
    

}


.row1::-webkit-scrollbar{
    width: 0;
}

.heading{
    margin-top: 20px;
    text-align: center;
}
.item{
    min-width: 200px;
    border: 1px solid #ccc;
    height: 150px;
    transition: 0.3s;
    
    
}

.btn2{
  display: block;
  color: #fff;
  text-align: center;
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  margin-top: 5px;
  text-decoration: none;
  font-size: 0.8em
  padding: 5px 2.5px;
  border-radius: 2px;
}

.item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
  }


  .item-header {
    text-align: center;
    padding: 20px 10px;
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    color: #fff;
  }
  
.item-body {
    padding: 15px 10px;
    text-align: center;
    font-size: 18px;
  }
.row2{
    
    border : 1px solid #ddd;
    display: flex;
    overflow-x: auto;
    

}

.row2::-webkit-scrollbar{
    width: 0;
}
/*****BROWSE ENDS********/